@import './variables.module.scss';
.row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	padding-bottom: 5px;
	@media #{$mobile} {
		padding-bottom: 5px;
	}
	.td {
		padding-top: 0px !important;
		text-overflow: ellipsis;
		font-size: 18px;
		vertical-align: middle;
		padding: 8px 6px;
		width: 20%;
		@media #{$mobile} {
			height: 50px;
			font-size: 14px !important;
		}
		&.name {
			font-weight: 500;
			width: 30%;
			padding-left: 0px;
			@media #{$mobile} {
				width: 55%;
			}
			@media screen and (min-width: 500px) and (max-width: 700px) {
				width: 50%;
			}
			input {
				width: 200px !important;
				@media #{$mobile} {
					width: 200px !important;
					z-index: 1000000;
					position: relative;
				}
				border-radius: 5px;
			    border: 1px solid #000;
			    height: 30px;
			    color: #555;
			    padding-left: 5px;
			    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
			    margin-right: 10px;
			}
		}

		.cell {
			.artistLink {
				img {
					display: inline-block;
					vertical-align: top;
					width: 35px;
					height: 35px;
					position: relative;
					bottom: 5px;
					/*cursor: url('../client/images/icons/note.png'), pointer;*/
					/*@media #{$mobile} {
						width: 25px;
					}*/
					&:hover {
						opacity: 0.6;          
					}
				}
			}
			&.soundcloud {
				img {
					width: 38px;
    				height: 38px;
    				@media #{$mobile} {
    					width: 35px;
    				}
				}
			}
			.hidden {
				@media #{$mobile} {
					visibility: hidden;
				}
			}
		}
		&.right {
			padding: 0px;
			text-align: right;
		}
		svg {
			opacity: 0.85;
			width: 38px;
		}
		&.center {
			text-align: center;
		}
		.editLink {
			margin-right: 10px;
		}
		.editLink, .deleteLink {
			font-weight: normal;
			@media #{$mobile} {
				position: relative;
				top: 5px;
			}
			&:hover {
				@media screen and (min-width: 489px) {
					border-bottom: 3px solid #000;
					padding-bottom: 3px;
				}
			}
		}
		&.actions {
			@media #{$mobile} {
				display: none;
			}
		}
		&.mobileActions {
			position: relative;
			bottom: 21px;
			padding-left: 0px;
		    overflow: initial;
		    z-index: 100000;
			@media screen and (min-width: 489px) {
				display: none !important;
			}
			&.edit {
				width: 50%;
			}
			a {
				text-decoration: none;
			}
			.popoverContent {
				padding-top: 0px !important;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				right: 31px;
				top: 48px;
				transform: translate(0, 10px);
				background-color: #eee;
				padding: 0.5rem;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
				box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
				width: auto;
				border-radius: 5px;
				.popoverMessage {
					margin: 0px;
					text-align: center;
					font-size: 18px;
					a {
						display: block;
						text-align: left;
					}
				}
			}
			.popoverContent:before {
				position: absolute;
				z-index: -1;
				right: -15%;
				top: 8px;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #eee transparent;
				transition-duration: 0.3s;
				transition-property: transform;
			}
			&:hover .popoverContent {
				z-index: 10;
				opacity: 1;
				visibility: visible;
				transform: translate(0, -20px);
				transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
			}
			.options {
				font-size: 32px;
			     color: #2b2b2b;
			    opacity: 0.85;
			}

		}
	}
}