@import "../styles/variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Bold.ttf'),
        url('../fonts/poppins/Poppins-Italic.ttf') format('truetype');

    NEED TO ADD FONTS FOLDER BACK...
}*/ 

html, body {
    cursor: url('../public/images/icons/note.png'), pointer;
    .btn, .link, .uploadBTN, .madeBy {
        cursor: url('../public/images/icons/note.png'), pointer !important;
    }   
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: url("../public/images/cassete-purple.png") no-repeat center center fixed;
    background-size: cover;
    @media #{$mobile} {
        background-attachment: scroll;
        height: 100vh;
        background: url("../public/images/cassete-purple.png") no-repeat center center fixed neeed thissssss;
        background-size: cover;
    }
    &.loadingBackground {
        height: 100vh !important;
        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        .loadingDisplay {
            .loadingText {
                color: #2b2b2b;
                font-size: 40px;
                /*position: absolute;*/
                /*left: 50%;*/
                /*margin-left: -225PX;*/
                padding-top: 30px;
                margin-top: 0px;
                text-align: center;
                margin-bottom: 15px;
                @media #{$mobile} {
                    position: relative;
                    left: 0;
                    font-size: 30px;
                    text-align: center;
                    margin-left: 0;
                }
            }
            img {
                width: 300px;
                height: 300px;
                margin: auto; 
                display: block; 
                border-radius: 150px;
            }
        }
    }
    @keyframes color {
        0% {
            background: linear-gradient(180deg, #E5F392 0%, #E49E71 100%) fixed;
            background: url("../public/images/cassete-orange.png") no-repeat center center fixed;
            background-size: cover;
        }
        50% {
            background: linear-gradient(180deg, #F4F269 0%, #5CB270 100%) fixed;
            background: url("../public/images/cassete-green.png") no-repeat center center fixed;
            background-size: cover;
        }
    }
}