@import './variables.module.scss';
.hideNotification {
    opacity: 0;
    transition: opacity 0.5s;
}

.notificationContainer {
    z-index: 1000000;
    position: fixed;
    width: 475px;
    bottom: 35px;
    margin: auto;
    left: 0;
    right: 0;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
    -webkit-animation: fadeinUp 2s linear; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinUp 2s linear; /* Firefox < 16 */
    -ms-animation: fadeinUp 2s linear; /* Internet Explorer */
    -o-animation: fadeinUp 2s linear; /* Opera < 12.1 */
    animation: fadeinUp 2s linear;
    @media #{$mobile} {
        bottom: 225px;
        -webkit-animation: fadeinUpMobile 2s linear; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeinUpMobile 2s linear; /* Firefox < 16 */
        -ms-animation: fadeinUpMobile 2s linear; /* Internet Explorer */
        -o-animation: fadeinUpMobile 2s linear; /* Opera < 12.1 */
        animation: fadeinUpMobile 2s linear;
    }
    @media screen and (max-width: 500px) {
        width: 97% !important;
    }
    .notificationText, .line {
        display: inline-block;
        vertical-align: middle;
    }
    .notificationText {
        position: relative;
        bottom: 7px;
        @media #{$mobile} {
            font-size: 0.65em;
            bottom: 6px;
        }
        .status {
            color: #2b2b2b;
            text-align: left;
            position: relative;
            top: 15px;
            font-weight: bold;
            margin-top: 5px;
            @media #{$mobile} {
                top: 10px;
            }
        }
        .text {
            color: #2b2b2b;
            margin-bottom: 5px;
        }
    }
    .line {
        height: 60px;
        width: 5px;
        background: #4FA47D;
        border-radius: 5px;
        margin-left: 1.5%;
        @media #{$mobile} {
            height: 40px;
        }
    }
    .check {
        width: 35px;
        vertical-align: text-top;
        display: inline-block;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 4px;
        position: relative;
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinMobile {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@keyframes fadeinUp {
    from { bottom: 0px; }
    to { bottom: 35px; }
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinUpMobile {
    from { bottom: 200px; }
    to { bottom: 225px; }
    0% { opacity: 0; }
    50% { opacity: 1; }
}